# 0. Problem set 1 (24 points)

This short problem set will:
    
- Make sure your jupyter notebook installation is working
- Give you practice with the following concepts covered in lecture and on DataCamp:
    - Python lists
    - numpy arrays
    - Basic list comprehension

In [1]:
# imports
import numpy as np

# 1. Practice with lists

## 1.1 List addition (2 points)

We provide you with a list of our names below.

- Use list addition to add your name to the list
- Store this as a new list called `instructor_my_name` 
- Print that list

In [2]:
## we provide
instructor_names = ['Sonali', 'Rebecca', 'Yifan']

In [3]:
## your code here 
instructor_my_name = instructor_names + ['Maggie']
print(instructor_my_name)

['Sonali', 'Rebecca', 'Yifan', 'Maggie']

## 1.2 List indexing (2 points)

- Use the `.index()` method to get the index of the professor's name (Rebecca) 
- Use that index to extract that name
- Store it in a list called prof and print

In [4]:
## your code here to get index of prof's name
instructor_names.index('Rebecca')

1

In [5]:
## your code here to extract the name and print
prof_and_print = [instructor_names[1]]
print(prof_and_print)

['Rebecca']

## 1.3 Indexing lists of lists (2 points)

- We provide you with the below list of lists (`roles_listoflists`)
- A. Use subsetting to pull out the role of Rebecca (can just hard code the relevant indices)
- B. Pull out and print the type of the element at index 1 (Yifan's name and role)

In [6]:
## we provide
roles_listoflists = [['Rebecca', 'Prof'], ['Yifan', 'TA'], ['Sonali', 'TA']]

In [7]:
## your code here pull out role of rebecca 
roles_listoflists[0][1]

'Prof'

In [8]:
## your code here for part b
roles_listoflists[1]

['Yifan', 'TA']

In [9]:
type(roles_listoflists[1])

list

## 1.4 Edit list elements (3 points)


- In `roles_listoflists`, replace the role 'TA' with the role 'Teaching Assistant' (fine to do in two lines of code)
- Print the updated list

In [10]:
## your code here 
roles_listoflists[1][1] = 'Teaching Assistant' 
roles_listoflists[2][1] = 'Teaching Assistant'
print(roles_listoflists)

[['Rebecca', 'Prof'], ['Yifan', 'Teaching Assistant'], ['Sonali', 'Teaching Assistant']]

# 2. Practice with numpy arrays

## 2.1 Converting a list to an array (2 points)

- A. Transform the roles_listoflists from the previous part (so with TA replaced with teaching assistant)into a 2D numpy array; call it roles_array
- B. Print the shape/dimensions of `roles_array`

In [11]:
## your code here
roles_array = np.array(roles_listoflists)
print(roles_array.shape)

(3, 2)

## 2.2 Subsetting arrays using True/False (boolean) indicators (2 points)

- A. Create a boolean indicator for rows where the role (second column) == 'Teaching Assistant' and print that indicator
- B. Use that boolean indicator to subset roles_array store the array as roles_TA 
- C. Print the `roles_TA` array and its dimensions (should be 2x2)

In [12]:
## your code here
a = (roles_array[:, 1] == 'Teaching Assistant')
print(a)

[False  True  True]

In [13]:
## your code here
roles_TA = roles_array[a]

In [14]:
## your code here 
print(roles_TA)
roles_TA.shape

[['Yifan' 'Teaching Assistant']
 ['Sonali' 'Teaching Assistant']]

(2, 2)

## 2.3 Adding to an array (2 points)

- A. Use np.append (google the documentation) to  add the following column with the netids of the two TA to the roles_TA array as the last column 
- B. Store as role_TA_net
- C. Print the dimensions (should be 2x3)

In [15]:
## column to add 
netids = np.array([['yl1374'], ['ss4608']])
print(netids)

[['yl1374']
 ['ss4608']]

In [16]:
## your code here
role_TA_net = np.append(roles_TA, netids, axis = 1)
print(role_TA_net)

[['Yifan' 'Teaching Assistant' 'yl1374']
 ['Sonali' 'Teaching Assistant' 'ss4608']]

In [17]:
## your code here
print(role_TA_net.shape)

(2, 3)

# 3. Practice with iteration/list comprehension

Here, we provide you with a list containing the course codes for different McCourt/Georgetown Fall 2022 courses.

In [18]:
## course code list 
course_codes = ["PPOL 506", "PPOL 560", "PPOL 564", "SOCI 4961"]

## 3.1 Using list comprehension to keep all elements / transform them (3 points)

- A. Create a new list---course_codes_ns-- that removes the spaces in each course code--- eg PPOL 506 should become PPOL506
- B. Print `course_codes_ns`

In [19]:
## your code here
course_codes_ns = [course.replace(' ', '') for course in course_codes]
print(course_codes_ns)

['PPOL506', 'PPOL560', 'PPOL564', 'SOCI4961']

## 3.2 Using list comprehension to subset a list (3 points)

- A. using course_codes_ns, create a new list just with courses with ppol in the name; store it as `course_codes_ppol`

In [20]:
## your code here
course_codes_ppol = [course for course in course_codes_ns if 'PPOL' in course]
print(course_codes_ppol)

['PPOL506', 'PPOL560', 'PPOL564']

## 3.3 Using list comprehension to conditionally change a list's elements (3 points)

- A. `using course_codes_ppol`, add the string prefix "stats_" to ppol506 and 560; "ds_" to ppol564
- B. Store as `course_codes_detail` and print

In [21]:
## your code here
course_codes_detail = ["ds_" + course if "PPOL564" in course else "stat_" + course for course in course_codes_ppol]
print(course_codes_detail)

['stat_PPOL506', 'stat_PPOL560', 'ds_PPOL564']